<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="/static/css/member/modal-disconnect.css">
</head>
<body>
    <div class="modal-container">
        <div class="modal-wrapper">
            <div class="disconnect-account-title-wrapper">
                <span class="disconnect-account-title">
                    연동을 해제할까요?
                </span>
            </div>
            <div class="disconnect-account-content-wrapper">
                <span class="disconnect-account-content">
                    연동을 해제하면 앞으로 이 SNS를 통해</span>
                    <br>
                <span class="disconnect-account-content">
                    로그인할 수 없어요.
                </span>
            </div>
            <div class="disconnect-account-button-group">
                <div class="disconnect-account-button-wrapper">
                    <button class="disconnect-account-button" color="grey" height="54">
                        <span class="disconnect-account-button-content">취소</span>
                    </button>
                    <button class="disconnect-account-button-approve" color="primary" height="54">
                        <span class="disconnect-account-button-content">확인</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>