<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../static/css/member/emailsuccess.css" />
  <title>계정 확인 결과</title>

</head>
<body>
  <div class="result-container">
    <h2>이메일이 발송되었습니다 </h2>

    <div class="account-info">
      <p>발송된 이메일을 확인해주세요</p>
      <!-- <p><strong>이름:</strong> 홍길동</p>
      <p><strong>아이디:</strong> hong1234</p>
      <p><strong>이메일:</strong> user@example.com</p> -->
    </div>

    <!-- <a href="/reset-password" class="next-button">비밀번호 재설정</a> -->
  </div>
</body>
</html>
