<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="../../static/css/member/findingemail.css" />
</head>
<body>
    <div class="h8f519">
        <div class="oh4f1i">
           <div class="qnrdaz">
               <span class="mx2">계정을 찾으려면</span>
                    <div class="tecsv">
                         <span class="iai39v">휴대폰 번호 인증이</span>
                            <br class="d0b0iu">
                              <span class="cko">필요해요.</span>
                    </div>
            </div>
            <div class="m8y5ve">
                <img alt="휴대폰 이미지" loading="lazy" width="240" height="240" decoding="async" data-nimg="1" src="https://media.a-ha.io/aha-qna/images/common/v2/auth/phone.png" style="color: transparent;">
            </div>                    
            <div class="oms8b">
                <button color="grey" height="54" class="e5nat2">
                    <span class="h2tnj">
                    <span class="h2tnj">뒤로가기</span>
                     </span></button>
                <button color="primary" height="54" class="qfxk">
                    <span class="h2tnj">
                    <span class="h2tnj">다음</span></span>
                </button></div>




        </div>
    </div>
</body>
</html>