<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임</title>
    <link rel="stylesheet" href="join.css">
</head>
<body>
    <div id="goden">
        <div class="h8f519full">
            <div class="1n28uzs">
                <header class="uf01c4">
                    <a height="24" href="/" target="_self" width="50" class="css-s4atrx e1h1agc90"><img alt="아하" fetchpriority="high" width="50" height="24" decoding="async" data-nimg="1" src="https://media.a-ha.io/aha-qna/logos/aha-logo-new.svg" style="color: transparent;"></a>
                </header>
            </div> 
            <div class="szkvbm">
                <div class="css-ftjrz7">
                    <div class="d161kwn1">
                        <img alt="이메일 이미지" loading="lazy" width="48" height="48" decoding="async" data-nimg="1" src="https://media.a-ha.io/aha-qna/images/common/v2/auth/auth-email.png" style="color: transparent;">
                        <span class="css-1202cko">이메일 로그인</span>
                        
                    </div>
                    <form action="submit">
                        <div class="css-1n0qd3p"></div></form> 
                </div>
            </div>
            <div class="16y2swj"></div>
        </div>
    </div>
    
</body>
</html>