<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임</title>
    <link rel="stylesheet" href="../../static/css/member/join.css">
</head>
<body>
    <div class="full">
        <div class="1n28uzs">
            <!-- <header class="uf01c4">
                <a height="100" href="/" target="_self" width="50" class="css-s4atrx e1h1agc90"><img alt="아하" fetchpriority="high" width="50" height="24" decoding="async" data-nimg="1" src="https://media.a-ha.io/aha-qna/logos/aha-logo-new.svg" style="color: transparent;"></a>
            </header> -->
            </div> 
            <div class="szkvbm_middle1">
                <div class="ftjrz7middle2">
                    <div class="emailloginlogomiddle3">
                        <img alt="이메일 이미지" loading="lazy" width="48" height="48" decoding="async" data-nimg="1" src="https://media.a-ha.io/aha-qna/images/common/v2/auth/auth-email.png" style="color: transparent;">
                        <span class="css-1202cko">로그인</span>
                    </div>
                      <!-- <div><button id="kakao">카카오로로그인</button></div> -->
                    <form action="submit">
                        <div class="sub011n0qd3p">
                            <div class="sub02emailpassword">
                                <div class="sub033ukwes">
                                    <div class="sub04k008qsemailgulssi">
                                        <label for="email" class="label1woir7p">
                                        <span class="emailgul183o2av">이메일</span>
                                        </label>
                                    </div>
                                    <div class="sbo1gjemailchang">
                                        <input placeholder="이메일 주소를 입력" id="email" name="emailname" rows="5" type="email" class="bms9cb" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="emailpassword">
                                <div class="css-3ukwes">
                                    <div class="css-k008qs egbg7lm1">
                                        <label for="password" class="label1woir7p">
                                            <span class="emailgul183o2av">비밀번호</span>
                                        </label>
                                    </div>
                                    <div class="sbo1gjemailchang">
                                        <input placeholder="비밀번호를 입력" id="password" name="password"  rows="5" type="password" class="bms9cb" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subrs70ns">
                            <!-- <button type="submit" color="primary" height="54" class="loginBtn"><span class="15h2tnjlogingulssi">로그인</span></button> -->
                            <button id="loginBtn" disabled>로그인</button>
                            <a class="css-1n1yjq2" href="/auth/reset-password">
                                <button color="grey" height="54" class="box5p3r3q">
                                    <span class="h2tnj">비밀번호를 잊어버리셨나요?</span>
                                </button>
                            </a>
                        </div>
                    </form> 
                </div>
            </div>
            <div class="16y2swjfooter"></div>
        </div>
    </div>   
</body>

    <script src="../../static/js/member/join.js"></script>

</html>