<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임</title>
    <link rel="stylesheet" href="join.css">
</head>
<body>
    <div id="goden">
        <div class="h8f519">
            <div class="1n28uzs">
                <header class="uf01c4">
                    <a height="24" href="/" target="_self" width="50" class="css-s4atrx e1h1agc90"><img alt="아하" fetchpriority="high" width="50" height="24" decoding="async" data-nimg="1" src="https://media.a-ha.io/aha-qna/logos/aha-logo-new.svg" style="color: transparent;"></a>
                </header>
            </div> 
            <div class="szkvbm"></div>
            <div class="16y2swj"></div>
        </div>
    </div>
    
</body>
</html>