<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>골든타임 회원가입</title>
    <link rel="stylesheet" href="../../static/css/member/join.css" />
</head>
<body>
    <div class="full">
        <div class="1n28uzs">
            <!-- 기존 헤더 주석 처리 -->
        </div>
        <div class="szkvbm_middle1">
            <div class="ftjrz7middle2">
                <div class="emailloginlogomiddle3">
                    <img alt="이메일 이미지" loading="lazy" width="48" height="48" decoding="async" data-nimg="1" src="https://media.a-ha.io/aha-qna/images/common/v2/auth/auth-email.png" style="color: transparent;">
                    <span class="css-1202cko">의사 회원가입</span>
                </div>

                <form action="submit">
                    <div class="sub01emailpasswordgap">

                        <!-- 이름 -->
                        <div class="emailpassword">
                            <div class="iprukchang">
                                <div class="sub04k008qsemailgulssi">
                                    <label for="name" class="label1woir7p">
                                        <span class="emailgul183o2av">이름</span>
                                        <img src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif" alt="필수" />
                                    </label>
                                </div>
                                <div class="sbo1gjemailchang">
                                    <input placeholder="이름을 입력" id="name" name="name" type="text" class="bms9cb" value="" />
                                </div>
                            </div>
                        </div>
                        <!-- 주민등록번호 -->
                        <div class="emailpassword">
                            <div class="iprukchang">
                                <div class="sub04k008qsemailgulssi">
                                    <label for="ssn1" class="label1woir7p">
                                        <span class="emailgul183o2av">주민등록번호</span>
                                        <img src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif" alt="필수" />
                                    </label>
                                </div>
                                <div class="jumin-inputa" style="gap: 10px;">
                                    <input type="text" id="ssn1" name="ssn1" maxlength="6" placeholder="앞 6자리" />
                                    <span>-</span>
                                    <input type="password" id="ssn2" name="ssn2" maxlength="7" placeholder="뒤 7자리" />
                                </div>
                            </div>
                        </div>

                        <!-- 이메일 -->
                        <div class="emailpassword">
                            <div class="iprukchang">
                                <div class="sub04k008qsemailgulssi">
                                    <label for="email" class="label1woir7p">
                                        <span class="emailgul183o2av">이메일</span>
                                    </label>
                                </div>
                                <div class="sbo1gjemailchang">
                                    <input placeholder="이메일 주소를 입력" id="email" name="email" type="email" class="bms9cb" value="" />
                                </div>
                            </div>
                        </div>

                        <!-- 비밀번호 -->
                        <div class="emailpassword">
                            <div class="iprukchang">
                                <div class="css-k008qs egbg7lm1">
                                    <label for="password" class="label1woir7p">
                                        <span class="emailgul183o2av">비밀번호</span>
                                    </label>
                                </div>
                                <div class="sbo1gjemailchang">
                                    <input placeholder="비밀번호를 입력" id="password" name="password" type="password" class="bms9cb" value="" />
                                </div>
                            </div>
                        </div>

                        <!-- 비밀번호 재입력 -->
                        <div class="emailpassword">
                            <div class="iprukchang">
                                <div class="css-k008qs egbg7lm1">
                                    <label for="passwordConfirm" class="label1woir7p">
                                        <span class="emailgul183o2av">비밀번호 재입력</span>
                                    </label>
                                </div>
                                <div class="sbo1gjemailchang">
                                    <input placeholder="비밀번호를 재입력" id="passwordConfirm" name="passwordConfirm" type="password" class="bms9cb" value="" />
                                </div>
                            </div>
                        </div>
                        
                        <!-- 의사 면허번호 -->
                        <div class="emailpassword">
                            <div class="iprukchang">
                                <div class="css-k008qs egbg7lm1">
                                    <label for="password" class="label1woir7p">
                                        <span class="emailgul183o2av">의사 면허번호</span>
                                    </label>
                                </div>
                                <div class="sbo1gjemailchang">
                                    <input placeholder="비밀번호를 입력" id="password" name="password" type="password" class="bms9cb" value="" />
                                </div>
                            </div>
                        </div>
                        <!-- 근무지 주소 -->
                        <div class="emailpassword">
                            <div class="iprukchang">
                                <div class="sub04k008qsemailgulssi">
                                    <label for="address" class="label1woir7p">
                                        <span class="emailgul183o2av">근무지 주소</span>
                                        <img src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif" alt="필수" />
                                    </label>
                                </div>
                                <div class="sbo1gjemailchang">
                                    <input placeholder="주소를 입력" id="address" name="address" type="text" class="bms9cb" value="" />
                                </div>
                            </div>
                        </div>

                        <!-- 핸드폰 번호 -->
                        <div class="emailpassword">
                            <div class="iprukchang">
                                <div class="css-k008qs egbg7lm1">
                                    <label for="phone1" class="label1woir7p">
                                        <span class="emailgul183o2av">핸드폰번호</span>
                                    </label>
                                </div>
                                <div class="phone-inputa">
                                    <input type="text" id="phone1" name="phone1" maxlength="3" placeholder="010" />
                                    <span>-</span>
                                    <input type="text" id="phone2" name="phone2" maxlength="4" placeholder="1234" />
                                    <span>-</span>
                                    <input type="text" id="phone3" name="phone3" maxlength="4" placeholder="5678" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="subrs70ns">
                        <button id="loginBtn" disabled>회원가입</button>
                        <a class="css-1n1yjq2" href="/auth/reset-password">
                            <button type="button" color="grey" height="54" class="box5p3r3q">
                                <span class="h2tnj">비밀번호를 잊어버리셨나요?</span>
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="16y2swjfooter"></div>
    </div>  

<script src="../../static/js/member/join.js"></script>
