<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임 로그인 시작</title>
        <link rel="stylesheet" href="../../static/css/member/login.css">
</head>
<body>
<div class="ir7f">
    <div class="css-1m0yuj3">
     <div class="css-1kizdzl">
        <a class="css-1po0s02">
                <img alt="카카오 로고" color="#333D4B" fetchpriority="high" width="20" height="20" decoding="async" data-nimg="1" style="color:transparent" src="https://media.a-ha.io/aha-qna/images/common/v2/auth/logo-kakao.png">
                <span class="css-1ua8imd">카카오로 시작하기</span>
        </a>
     </div>
    </div>  
 </div>   
</body>
</html>