<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계정 설정 ㅣ 궁금할 땐, 아하!</title>
    <link rel="stylesheet" href="/static/css/member/mypage.css">
</head>
<body>
    <div class="whole-body">
        <main class ="main-layout-wrapper">
            <div class ="mypage-title-container ">
                <div class = "mypage-title-wrapper">
                    <h1 class = "mypage-title">계정 설정</h1>
                </div>
            </div>
            <div class ="mypage-body-container">
                    <div width="320" class="mypage-category-container";>
                        <aside class="mypage-category-wrap">
                            <a class ="mypage-category-wrapper" href="">
                                <span class ="mypage-category-blue">계정 관리</span>
                            </a>
                            <a class = "mypage-category-wrap">
                                <span class = "mypage-category-black">알림 설정</span>
                            </a>
                        </aside>
                    </div>
                    <div class ="mypage-main-container">
                        <div class = "mypage-main-basicinfo-wrap">
                            <span class = "mypage-main-basicinfo">기본 정보</span>
                            <div class="mypage-main-basicinfo-wrapper">
                                <div class="mypage-main-basicinfo-email-container">
                                    <div class="mypage-main-basicinfo-email-wrap">
                                        <div class="mypage-main-basicinfo-email-wrapper">
                                            <div class="mypage-main-basicinfo-key-wrapper">
                                                <span class="mypage-main-basicinfo-key">이메일</span>
                                            </div>
                                            <span class="mypage-main-basicinfo-value">이메일@주소.형식</span>
                                    </div>
                                    <button class="mypage-main-basicinfo-email-button" color ="grey" height="54">
                                        <span class="mypage-main-basicinfo-email-button-name">변경</span>
                                    </button>
                                </div>
                            </div>
                            <hr class="mypage-main-basicinfo-line">
                            <div class="mypage-main-basicinfo-phone-container">
                                <div class="mypage-main-basicinfo-phone-wrap">
                                    <div class="mypage-main-basicinfo-phone-wrapper">
                                        <div class="mypage-main-basicinfo-key-wrapper">
                                            <span class ="mypage-main-basicinfo-key">휴대폰 번호</span>
                                        </div>
                                        <span class = "mypage-main-basicinfo-value">+821012345678</span>
                                    </div>
                                    <button class="mypage-main-basicinfo-email-button" color ="grey" height="54">
                                        <span class="mypage-main-basicinfo-email-button-name">변경</span>
                                    </button>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </main>
    </div>
    
</body>
</html>