<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/member/mypage.css">
    <link rel="stylesheet" href="/static/css/member/mypost-list.css">
</head>
<body>
        <div class="whole-body">
        <main class ="main-layout-wrapper">
            <div class ="mypage-title-container ">
                <div class = "mypage-title-wrapper">
                    <h1 class = "mypage-title">마이페이지</h1>
                </div>
            </div>
            <div class ="mypage-body-container">
                <div width="320" class="mypage-category-container";>
                    <!-- 카테고리 누르면 해당 페이지로 넘어가면서 카테고리 색 바뀌는 이벤트 -->
                    <aside class="mypage-category-wrapper">
                        <a class ="mypage-category-wrap-black">
                            <span class ="mypage-category-black active">계정 관리</span>
                        </a>
                        <a class = "mypage-category-wrap-black">
                            <span class = "mypage-category-black" >쪽지함</span>
                        </a>
                        <a class = "mypage-category-wrap-black">
                            <span class = "mypage-category-black">내 작성글 목록</span>
                        </a>
                        <a class = "mypage-category-wrap-black">
                            <span class = "mypage-category-black">진료 신청 기록</span>
                        </a>
                        <a class = "mypage-category-wrap-black">
                            <span class = "mypage-category-black">내 관심 전문가</span>
                        </a>
                        <a class = "mypage-category-wrap-black">
                            <span class = "mypage-category-black">나의 문의글</span>
                        </a>
                    </aside>
                </div>
                <div class="mypost-list-main-container">
                    <div class="mypost-list-main-category-wrap">
                        <div class="mypost-list-main-category-container">
                            <div class="mypost-list-category-group-wrapper">
                                <div class="mypost-list-category-wrapper">
                                    <div class="mypost-list-category-content-wrapper">
                                        <span class="mypost-list-category-content">
                                            질문</span>
                                    </div>
                                    <div class="mypost-list-category-content-wrapper">
                                        <span class="mypost-list-category-content">
                                            내 답변</span>
                                    </div>
                                    <div class="mypost-list-category-highlight"></div>
                                    <ul class="mypost-list-content-container">
                                        <li>
                                            <a>
                                                <div class="mypost-list-content-wrapper">
                                                    <div class="mypost-category-container">
                                                        <div class="mypost-category-wrapper">
                                                            <span class="mypost-category-a">
                                                                대카테고리
                                                            </span>
                                                            <span class="mypost-category-b">
                                                                중카테고리
                                                            </span>
                                                        </div>
                                                        <time class="mypost-content-time">시간</time>
                                                    </div>
                                                    <div class="mypost-content-container">
                                                        <span class="mypost-content-title-wrapper">
                                                            <span class="mypost-content-title-q">Q.</span>
                                                            내 작성글 목록 제목 노출란입니다.
                                                        </span>
                                                        <span class="mypost-content-body">
                                                            내 작성글 목록 내용 노출란입니다.
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        </div>
</body>
</html>