<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/fonts.css">
    <link rel="stylesheet" href="../../static/css/housecall/housecall-list.css">
</head>
<body>
    <main>
        <div class="main-container">
            <!-- 무한 스크롤 -->
            <div class="content-wrapper">
                <div class="content-list-container">
                    <div class="category-list-wrap">
                        <div class="category-list-container">
                            <!-- 버튼 이벤트 모달 열기 -->
                            <button class="card-list-order-btn">
                                <span class="card-list-btn-text change-order">마감 순</span>
                                <div class="card-list-icon">
                                    <svg fill="none" height="12" viewbox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd" d="M14.5552 7.34075C14.8982 7.63527 14.9276 8.14101 14.6209 8.47036L11.9542 11.3332C11.7961 11.5029 11.5702 11.5999 11.333 11.5999C11.0958 11.5999 10.8699 11.5029 10.7118 11.3332L8.04514 8.47036C7.73835 8.14101 7.76777 7.63527 8.11084 7.34075C8.45392 7.04624 8.98074 7.07447 9.28752 7.40383L10.4997 8.70512L10.4997 1.1999C10.4997 0.758074 10.8728 0.399902 11.333 0.399902C11.7932 0.399902 12.1663 0.758074 12.1663 1.1999L12.1663 8.70512L13.3785 7.40383C13.6853 7.07447 14.2121 7.04624 14.5552 7.34075Z" fill="var(--color-gray-400)" fill-rule="evenodd"></path>
                                        <path clip-rule="evenodd" d="M7.55515 4.65925C7.89823 4.36473 7.92764 3.85899 7.62086 3.52964L4.95419 0.666849C4.7961 0.497129 4.57017 0.400119 4.333 0.400119C4.09583 0.400119 3.8699 0.497129 3.71181 0.666849L1.04514 3.52964C0.738355 3.85899 0.767771 4.36473 1.11084 4.65925C1.45392 4.95376 1.98074 4.92552 2.28752 4.59617L3.49967 3.29488L3.49967 10.8001C3.49967 11.2419 3.87276 11.6001 4.333 11.6001C4.79324 11.6001 5.16633 11.2419 5.16633 10.8001L5.16633 3.29488L6.37848 4.59617C6.68526 4.92553 7.21208 4.95376 7.55515 4.65925Z" fill="var(--color-gray-400)" fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </button>
                            <!-- /버튼 이벤트 모달 열기 -->
                            
                            
                        </div>
                    </div>
                    <hr class="category-ul-horizon">
                    <ul
                        class="content-list" id="intersectionObserver">
                        <!-- 반복 부분 -->
                        <li>
                            <!-- <a href="/"> -->
                            <div class="content-info">
                                    <img class="contentInfoImg img-doc-tag" src="https://media.a-ha.io/aha-qna/images/v3/product/default-profile-image.webp" width="48" height="48" alt="" style="color: transparent">
                                    <div class="content-info-text">
                                        <div class="type-user-wrapper">
                                            <div class="depart-treatment">
                                                    <div class="doctor-info">
                                                        <span class="doctorinfo-name">
                                                            환자 이름
                                                            <span class="patient">남(36)</span>
                                                        </span>
                                                        <span class="remain-time-span"></span>
                                                    </div>
                                                <div class="depart-treatment-wrap" style="z-index:100px">
                                                    <span class="first">
                                                        도로명 주소
                                                    </span>
                                                    <span class="second">
                                                        서울특별시 강남구 테헤란로 123
                                                    </span>
                                                </div>

                                            </div>
                                        </div>

                                        <!-- 주소 클릭 이벤트 -->
                                        <div class="info-container hospital-info">
                                            <span class="first">
                                                상세 주소
                                            </span>
                                            <span class="second">
                                                OO빌딩 4층 또는 101동 202호
                                            </span>
                                            <span class="first detail-address">
                                                통증 부위
                                            </span>
                                            <span class="second">
                                                머리
                                            </span>
                                        </div>
                                        <!-- /주소 클릭 이벤트 -->
                                        <div class="info-container">
                                            <span class="first">
                                                환자 전화 번호
                                            </span>
                                            <span class="second">
                                                02-123-1234
                                            </span>

                                        </div>
                                        <div class="icon-btn-wrap">
                                            <div class="icon-container">
                                                <span class="first pain"> 아픔 정도 </span>
                                                <img src="../../static/images/pain3.png" with="35" height="35" alt="">
                                            </div>
                                            <div class="btn-container">
                                                <div
                                                    class="btn-wrap">
                                                    <!-- 쪽지 클릭 이벤트 -->
                                                    <button class="btnshape housecall-btn">
                                                        <img src="../../static/images/wait.png">
                                                        <span>진료 대기</span>
                                                    </button>
                                                    <!-- /쪽지 클릭 이벤트 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            <!-- </div> -->
                        </a>
                        </li>
                        <!-- 나중에 삭제할 부분 -->
                        <ul
                        class="content-list" id="intersectionObserver">
                        <!-- 반복 부분 -->
                        <li>
                                <div class="content-info">
                                    <img class="contentInfoImg img-doc-tag" src="https://media.a-ha.io/aha-qna/images/v3/product/default-profile-image.webp" width="48" height="48" alt="" style="color: transparent">
                                    <div class="content-info-text">
                                        <div class="type-user-wrapper">
                                            <div class="depart-treatment">
                                                
                                                    <div class="doctor-info">
                                                        <span class="doctorinfo-name">
                                                            환자 이름
                                                        </span>
                                                        <span class="remain-time-span"></span>
                                                    </div>
                                                    
                                                
                                                <div class="depart-treatment-wrap">
                                                    <span class="first">
                                                        도로명 주소
                                                    </span>
                                                    <span class="second">
                                                        서울특별시 강남구 테헤란로 123
                                                    </span>
                                                </div>

                                            </div>
                                        </div>

                                        <!-- 주소 클릭 이벤트 -->
                                        <div class="info-container hospital-info">
                                            <span class="first">
                                                상세 주소
                                            </span>
                                            <span class="second">
                                                OO빌딩 4층 또는 101동 202호
                                            </span>
                                            <span class="first detail-address">
                                                통증 부위
                                            </span>
                                            <span class="second">
                                                머리
                                            </span>
                                        </div>
                                        <!-- /주소 클릭 이벤트 -->
                                        <div class="info-container">
                                            <span class="first">
                                                환자 전화 번호
                                            </span>
                                            <span class="second">
                                                02-123-1234
                                            </span>

                                        </div>
                                        <div class="icon-btn-wrap">
                                            <div class="icon-container">
                                                <span class="first pain"> 아픔 정도</span>
                                                <img src="../../static/images/pain5.png" with="35" height="35" alt="">
                                            </div>
                                            <div class="btn-container">
                                                <div
                                                    class="btn-wrap">
                                                    <!-- 방문 진료 클릭 이벤트 -->
                                                    <button class="btnshape housecall-btn active">
                                                        <img src="../../static/images/check-mark.png">
                                                        <span>진료 승인</span>
                                                    </button>
                                                    <!-- /방문 진료 클릭 이벤트 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        <!-- /나중에 삭제할 부분 -->
                        <!-- /반복 부분 -->
                    </ul>
                    <div class="no-search-result-wrap">
                        <img src="https://media.a-ha.io/aha-qna/images/v3/product/feed/message.webp" width="48" height="48" style="color:transparent">
                        <span class="no-search-result-text">
                            검색 결과가 없어요. 다시 검색해서 해결해 보세요!
                        </span>
                    </div>
                    <div style="height:300px" id="intersectionObserverLayout"></div>
                </div>
                <div class="side-bar-container">
                    <div class="kakao-map"></div>
                </div>
            </div>
            <!-- /무한 스크롤 -->
        </div>


    </main>

    <div class="modal">
        <div class="warn-modal">
            <div id="content-wrap"></div>
        </div>
    </div>
</body>
<script src="../../static/js/housecall/housecall-list/event.js"></script>
</html>