<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임</title>
    <link rel="stylesheet" href="../../static/css/fonts.css">
    <link rel="stylesheet" href="../../static/css/housecall/housecall-detail.css">
    <link rel="shortcut icon" href="../../static/images/golden-time-favicon.png" type="image/x-icon">
</head>
<body>
    <main>
        <div class="main-container">
            <header class="coach-mark-wrapper">
                <ul class="coach-mark-container">
                    <li>
                        <button>
                            <span class="btn-content active">(환자이름) 진료 신청서</span>
                        </button>
                    </li>
                    
                </ul>
            </header>
            <!-- 무한 스크롤 -->
            <div class="content-wrapper">
                <div class="content-list-container">
                    <div class="housecall-detail-container">
                        <span class="houseecall-detail-info">
                            진료 작성 내용
                        </span>
                        <div class="housecall-detail-content-container">
                            <div class="housecall-detail-content-wrap">
                                <div class="housecall-detail-content">
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>환자 성함</span>
                                        </div>
                                        <span>독수리</span>
                                    </div>
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>성별</span>
                                        </div>
                                        <span>남</span>
                                    </div>
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>나이</span>
                                        </div>
                                        <span>13</span>
                                    </div>
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>전화번호</span>
                                        </div>
                                        <span>010-1234-1234</span>
                                    </div>
                                </div>
                            </div>
                            <hr class="housercall-hrizon">
                            <div class="housecall-detail-content-wrap">
                                <div class="housecall-detail-content">
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>희망 날짜</span>
                                        </div>
                                        <span>2025.07.12(금)</span>
                                    </div>
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>아픈 부위</span>
                                        </div>
                                        <span>복부</span>
                                    </div>
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>아픔 정도</span>
                                        </div>
                                        <span>5</span>
                                    </div>
                                </div>
                            </div>
                            <hr class="housercall-hrizon">
                            <div class="housecall-detail-content-wrap">
                                <div class="housecall-detail-content">
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>도로명 주소</span>
                                        </div>
                                        <span>
                                            서울특별시 강남구 테헤란로 123</span>
                                    </div>
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>상세 주소</span>
                                        </div>
                                        <span>
                                            OO빌딩 4층 또는 101동 202호</span>
                                    </div>
                                </div>
                            </div>
                            <hr class="housercall-hrizon">
                            <div class="housecall-detail-content-wrap">
                                <div class="housecall-detail-content">
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>증상 설명</span>
                                        </div>
                                        <div class="symptom-details">ㅁ닝멍멍ㅁㅇㅇㅁㅇㅁㅇㅇㅇ asdk
                                            asdlasdk
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="housercall-hrizon">
                        </div>
                    </div>
                </div>
                <!-- 사이드바 -->
                <div class="request-side-bar-wrap">
                    <!-- 버튼 클릭 이벤트 -->
                    <button type="button"class="accept-btn" form="reqForm" name="requestBtn" id="requestBtn">방문 예정</button>
                    <!-- /버튼 클릭 이벤트 -->
                    <div class="doctor-info-side-container">
                        <img src="https://media.a-ha.io/aha-qna/images/v3/product/default-profile-image.webp">
                        <div class="doctor-info-short-description">
                            <!-- 나중에 수정될 부분 승인 여부에 따라 다르게 -->
                            <!-- <ul>
                                <li>
                                    <div class="doctor-info-item">
                                        <div>방문 예정 의사</div>
                                        <div>독수리</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="doctor-info-item">
                                        <div>소속</div>
                                        <div>서울 백병원</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="doctor-info-item">
                                        <div>담당 과</div>
                                        <div>내과</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="doctor-info-item">
                                        <div>방문 진료 횟수</div>
                                        <div>0</div>
                                    </div>
                                </li>
                            </ul> -->
                            <!-- /나중에 수정될 부분 승인 여부에 따라 다르게 -->
                            <div class="unapproved">
                                <span class="no-search-result-text">
                                    아직 방문 예정 의사가 존재하지 않습니다.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /사이드바 -->
            </div>
            <!-- /무한 스크롤 -->
        </div>
    </body>
    </main>
<script src="../../static/js/housecall/housecall-detail/event.js"></script>
</html>