<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/fonts.css">
    <link rel="stylesheet" href="../../static/css/housecall/housecall-detail.css">
</head>
<body>
    <main>
        <div class="main-container">
            <header class="coach-mark-wrapper">
                <ul class="coach-mark-container">
                    <li>
                        <button>
                            <span class="btn-content active">(환자이름) 진료 신청서</span>
                        </button>
                    </li>
                    
                </ul>
            </header>
            <!-- 무한 스크롤 -->
            <div class="content-wrapper">
                <div class="content-list-container">
                    <div class="housecall-detail-container">
                        <span class="houseecall-detail-info">
                            테스트
                        </span>
                        <div class="housecall-detail-content-container">
                            <div class="housecall-detail-content-wrap">
                                <div class="housecall-detail-content">
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>환자 성함</span>
                                        </div>
                                        <span>익명입니다.</span>
                                    </div>
                                </div>
                            </div>
                            <hr class="housercall-hrizon">
                            <div class="housecall-detail-content-wrap">
                                <div class="housecall-detail-content">
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>전화번호</span>
                                        </div>
                                        <span>010-1234-1234</span>
                                    </div>
                                </div>
                            </div>
                            <hr class="housercall-hrizon">
                            <div class="housecall-detail-content-wrap">
                                <div class="housecall-detail-content">
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>주소</span>
                                        </div>
                                        <span>익명입니다.</span>
                                    </div>
                                </div>
                            </div>
                            <hr class="housercall-hrizon">
                            <div class="housecall-detail-content-wrap">
                                <div class="housecall-detail-content">
                                    <div class="housecall-detail-info-wrap">
                                        <div class="text-wrap">
                                            <span>증상 설명</span>
                                        </div>
                                        <div class="symptom-details">ㅁ닝멍멍ㅁㅇㅇㅁㅇㅁㅇㅇㅇ asdk
                                            asdlasdk
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="housercall-hrizon">
                        </div>
                    </div>
                </div>
                <!-- 사이드바 -->
                <div class="side-bar-container">
                    <div class="kakao-map"></div>
                </div>
                <!-- /사이드바 -->
            </div>
            <!-- /무한 스크롤 -->
        </div>
    </main>
</body>
</html>