/* @charset "utf-8"; */

/* 병원 부분이랑 의사부분 css입니다. */

body, html{
    text-size-adjust: none;
    height: 100%;
    overscroll-behavior-x: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    margin: 0;
    padding: 0;
}


audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

button, input, optgroup, select, textarea
{
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
}
*{
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}

menu, ol, ul {
    list-style: none;
}

*, ::backdrop, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}
path{
    clip-rule: evenodd;
    fill: #b0b8c1;
    fill-rule: evenodd;
}

body{
    color: #000;
    overscroll-behavior-y: none;
    font-family: Pretendard Variable;
    font-size: 16px;
    line-height: 150%;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1172px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 170px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1172px;
    min-height: 100vh;
}

div.main-container{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
button {
    background: inherit;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 16px;
    overflow: visible;
}


header.coach-mark-wrapper{
    display: flex;
    justify-content: space-between;
    cursor: unset;
}


ul.coach-mark-container,ul.category-list-wrap{
    display: flex;
    gap: 20px;
}


li span.btn-content{
    font-size: 32px;
    line-height: 130%;
    font-weight: 700;
    color: #B0B8C1;
}

li span.active{
    font-size: 32px;
    line-height: 130%;
    font-weight: 700;
    color: #191F28;
}


header.coach-mark-wrapper{
    display: flex;
    justify-content: space-between;
    cursor: unset;
}
div.content-wrapper{
    display: flex;
    gap: 16px;
}
div.content-list-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

div.content-info{
    display: flex;
    gap: 16px;
    padding: 32px 40px 32px 32px;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(224, 230, 240, 0.2) 0px 4px 8px 0px;
}

div.content-info img.content-info-img{
    border-radius: 16px;
    object-fit: cover;
}
div.content-info-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

div.side-bar-container{
    position: sticky;
    top: 61px;
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}

div.kakao-map{
    width: 100%;
    margin-top: 62px;
    background-image: url("../../images/temp.png");
    height: calc(100% - 62px);
}

div.housecall-detail-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 40px 40px;
    border: 1px solid #E5E8EB;
    border-radius: 20px;
    gap: 32px;
}
span.houseecall-detail-info{
    font-size: 20px;
    line-height: 150%;
    font-weight: 700;
    color: #191F28;
}

div.housercall-detail-content-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

div.housercall-detail-content-wrap{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

hr.housercall-hrizon{
    width: 100%;
    height: 1px;
    margin: 0;
    border: 0;
    background-color: #E5E8EB;
}

div.housecall-detail-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
div.housecall-detail-info-wrap{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
div.text-wrap{
    display: flex;
    gap: 8px;
}
div.text-wrap span{
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    color: #191F28;
}
div.text-wrap+span, div.symptom-details{
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: #6B7684; 
}

div.housecall-detail-content-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

div.symptom-details{
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
    display: inline-block;
    box-sizing: border-box;
}