<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../static/css/fonts.css">
        <link rel="stylesheet" href="../../static/css/doctor-hospital/doctor-hospital.css">
    </head>
    <body>
        <main>
            <div class="main-container">
                <div class="content-wrapper">
                    <div class="content-list-container">
                        <hr class="category-ul-horizon">
                        <ul
                            class="content-list" id="intersectionObserver">
                            <!-- 반복 부분 -->
                            
                            <!-- /삭제 부분 -->
                        </ul>
                        <div style="height:300px" id="intersectionObserverLayout"></div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <!-- <script src="../../static/js/hospital/event.js"></script> -->
</html>
