body,
html {
    text-size-adjust: none;
    height: 100%;
    overscroll-behavior-x: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    margin: 0;
    padding: 0;
}


audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
}
* {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}

menu,
ol,
ul {
    list-style: none;
}

*,
::backdrop,:after,:before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    overscroll-behavior-y: none;
    font-family: Pretendard Variable;
    font-size: 16px;
    line-height: 150%;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1172px;
    padding: 60px 16px 170px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1172px;
    min-height: 100vh;
}

button {
    background: inherit;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 16px;
    overflow: visible;
}


div.main.container {
    display: flex;
    gap: 16px;
}
div.main-layout-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 804px;
}
div.main-layout-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    border-radius: 20px;
    border: 1px solid #f2f4f6;
}
div.main-layout-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

a.writer-profil-container {
    display: flex;
    align-items: center;
    gap: 16px;
    pointer-events: auto;
}
div.writer-profil-wrap {
    display: flex;
    position: relative;
}
div.writer-profil-wrap img {
    border-radius: 32px;
    object-fit: cover;
    color: transparent;
    width: 48;
    height: 48;
}
div.writer-profil-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.writer-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
div.writer-info span {
    color: #333d4b;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}
div.write-date {
    display: flex;
}
div.write-date span {
    color: #8b95a1;
    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
    flex-shrink: 0;
}
div.main-layout {
    display: flex;
    align-items: center;
    gap: 16px;
}

div.content-layout {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
h1.content-title {
    color: #333d4b;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

div.content-text {
    color: #333d4b;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
    display: inline-block;
    box-sizing: border-box;
}
div.reply-layout-container {
    position: relative;
}
div.reply-layout {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
section.docotr-reply-container {
    box-shadow: inset 0 0 0 1px #D1D6DB;
    border-radius: 12px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 12px;

}
div.reply-input-wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
span.text-wran {
    display: flex;
    justify-content: end;
    padding: 0 32px 16px;
}
textarea {
    width: 100%;
    height: 56px;
    resize: none;
}
textarea:focus {
    outline: none;
    box-shadow: none;
}
textarea::placeholder {
    color: #B0B8C1;
}
div.reply-content-input-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.reply-content-input-container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;

}

div.input-textarea-container {
    padding: 32px 32px 0;
    border-radius: 0 0 12px 12px;
}

span.reply-warn-text {
    display: flex;
    justify-content: end;
    padding: 0 32px 16px;
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    /* display: block; */
    margin-inline: 4px;
    color: #6B7684;
}
div.file-input-container {
    display: flex;
    align-items: center;
    height: 86px;
    margin: 0 32px;
    border-top: 1px solid #E5E8EB;
    padding-bottom: 15px;
}

input#create-question-image {
    display: none;
}

label.img-btn {
    display: flex;
    padding: 8px;
    cursor: pointer;
}
button.reply-reg-btn:disabled {
    background: #E8F0F9;
    color: #A6C4F4;
}
span.btn-text-wrap {
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
}

button.reply-reg-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    min-height: 54px;
    border-radius: 14px;
    border-radius: 14px;
    max-width: 140px;
    background: #1731e9;
    color: #fff;
    position: absolute;
    right: 32px;
}
div.reply-layout-wrap {
    height: 195px;
}


div.thumbnail-wrap {
    position: relative;
}
div.thumbnail-wrap img.thumbnail {
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #0000000d;
    background-color: #f2f4f6;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
div.thumbnail-wrap ul {
    display: flex;
    margin-top: 23px;
}

div.thumbnail-wrap ul li {
    margin-right: 10px;
}

div#file-cancel-btn {
    cursor: pointer;
    background-image: url('../../images/cancel.png');
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: -87px;
    bottom: 81px;
}
div.cancle {
    position: relative;
    width: 20px;
}
div#file-cancel-btn {
    display: flex;
    padding: 4px;
    border-radius: 50%;
    background-color: #18181c8f;
}

div.header-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    gap: 16px;
}
div.header-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
h2.header-tag {
    color: #333d4b;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}
div.doctor-answer-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
div.doctor-answer-cnt {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: #F9FAFB;
}

div.doctor-answer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}
div.cnt-answer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
div.cnt-text-wrap {
    display: flex;
    gap: 4px;
}

div.cnt-text {
    color: #4e5968;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
}

div.doctor-answer-icon svg {
    width: 100%;
    height: 100%;
}

ul.doctor-answer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

div.doctor-answer-wrap {
    display: flex;
    flex-direction: column;
    border: 1px solid #f2f4f6;
    border-radius: 20px;
}
div.doctor-answer-main-wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
}
div.doctor-answer-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
div.doctor-profil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}
div.doctor-profil-container {
    display: flex;
    align-items: center;
    gap: 16px;
    pointer-events: auto;
}
div.doctor-img-wrap {
    display: flex;
    position: relative;
}
img.doctor-img {
    border-radius: 32px;
    object-fit: cover;
    color: transparent;
    width: 48px;
    height: 48px;
}
div.doctor-info-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.doctor-info-gap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
div.doctor-name {
    color: #333d4b;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}
div.answer-write-info {
    display: flex;
}
div.hospital-info {
    display: flex;
    gap: 4px;
    margin-right: 4px;
}
div.hospital-info span.name {
    color: #8b95a1;
    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
}
span.split {
    color: #8b95a1;
    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
span.date {
    color: #8b95a1;
    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
div.accepted-answer-container {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}
div.answer-horizon {
    display: flex;
    justify-content: end;
    padding-right: 118px;
    background-color: #FFFFFF;
}
div.accepted-btn-container {
    display: flex;
    padding: 10px 16px;
    gap: 8px;
    border-radius: 0 0 20px 20px;
    background-color: #f2f4f6;
}
div.accepted-btn-wrap {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 9px;
    border-radius: 13px;
    background-color: #FFFFFF
}
div.accepted-text {
    display: flex;
    align-items: center;
    gap: 8px;
}
div.accepted-btn-wrap img {
    width: 30px;
    height: 30px;
}
div.img-container {
    margin-inline: -32px;
    padding-inline: 32px;
    overflow-x: hidden;
}
ul.img-list-wrap {
    display: flex;
    gap: 12px;
}

ul.img-list-wrap li img {
    border-radius: 20px;
    width: 240px;
    height: 250px;
    background-color: #f9fafb;
    border: 1px solid #0000000d;
    object-fit: cover;
}
div.accepted-icon-wrap {
    display: none;
    position: absolute;
    right: -3px;
    bottom: -3px;
}

div.accepted-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}
div.accepted-icon img {
    width: 100%;
    height: 100%;
}
div.accepted-icon-wrap.accepted {
    display: flex;
}

div.toggle-img {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url("../../images/unaccepted.png");
}

div.toggle-img.accepted {
    background-image: url("../../images/accepted.png");
}


div.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}

div.warn-modal {
    box-sizing: border-box;
    position: unset;
    width: 288px;
    margin: 20vh 0;
    background: rgb(255, 255, 255);
    box-shadow: rgb(33 35 41 / 12%) 0 2px 12px;
    border-radius: 8px;
}
div.warn-modal {
    padding: 24px;
}

div.side-bar-container {
    position: sticky;
    top: 133px;
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    max-height: 700px;
    overflow-y: auto;
    scrollbar-width: none;
}


div.department-list-container {
    opacity: 0;
    visibility: hidden;
    width: 45%;
    padding: 16px;
    left: 180px;
    top: -18px;
    position: absolute;
    border-radius: 12px;
    background-color: #f0f6fb;
    box-shadow: rgba(224, 230, 240, 0.2) 0 4px 8px 0;
    border: 1px solid rgb(229, 232, 235);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none; /* 안 보일 때 클릭 방지 */
}

div.department-list-container.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* 말풍선 꼬리 */
div.department-list-container::after {
    content: "";
    position: absolute;
    top: 21px;
    left: -30px;
    border-right: 30px solid #f0f6fb;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

div.department-list-wrap {
    row-gap: 8px;
    display: flex;
    gap: 4px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
div.department-item {
    flex-shrink: 0;
    justify-content: space-between;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 20px;
    background-color: rgb(249, 250, 251);
}

