/* @charset "utf-8"; */

/* 병원 부분이랑 의사부분 css입니다. */

body,
html {
    text-size-adjust: none;
    height: 100%;
    overscroll-behavior-x: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    margin: 0;
    padding: 0;
}


audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
}
* {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}

menu,
ol,
ul {
    list-style: none;
}

*,
::backdrop,:after,:before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}
/* path {
    clip-rule: evenodd;
    fill: #b0b8c1;
    fill-rule: evenodd;
} */

body {
    color: #000;
    overscroll-behavior-y: none;
    font-family: Pretendard Variable;
    font-size: 16px;
    line-height: 150%;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1172px;
    padding: 60px 16px 170px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1172px;
    min-height: 100vh;

}

div.main-wrap {
    background-color: #f9fafb;
}
div.main-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
button {
    background: inherit;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 16px;
    overflow: visible;
}

div.mail-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #e5e8eb;
}
div.mail-title-wrap {
    display: flex;
    gap: 12px;
    flex-direction: column;
}
div.mail-title-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.mail-title-content {
    color: #333d4b;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}

span.text-warn {
    color: #b0b8c1;
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    gap: 4px;
}

span.text-warn::before {
    content: attr(data-count);
    color: #333d4b;
}
div.main-title-input-wrap,
div.doctor-search-wrap {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

input.mail-title-input-content {
    padding-inline: 16px;
    border-radius: 12px;
    border: 1px solid #f2f4f6;
    background-color: #f9fafb;
    color: #333d4b;
    min-height: 48px;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    outline: none;
}
/* 경고 표시 */
input.warn {
    border: 1px solid #e42939;
}

div.mail-modal hr.line-hr {
    width: 100%;
    height: 1px;
    background: #fff;
}


hr.content-hr {
    margin-top: 20px;
    margin-bottom: 20px;
}


hr.input-btn-list-bottom {
    margin: 0;
    border: 0;
}

div.mail-content-container {
    display: flex;
    flex-direction: column;
}
div.mail-content-wrap {
    display: flex;
    gap: 12px;
    flex-direction: column;
}
div.mail-content-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label.content-text {
    color: #333d4b;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%
}

div.mail-content-input-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.mail-content-input-container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid #f2f4f6;
}
div.input-btn-list-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
}
label.img-btn {
    display: flex;
    padding: 8px;
    cursor: pointer;
}
input#create-question-image {
    display: none;
}
button.input-style-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
div.input-textarea-container {
    padding: 14px 16px;
    border-radius: 0 0 12px 12px;
    background-color: #f9fafb;
}
div.input-textarea {
    color: #333d4b;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    outline: none;
    height: 252px;
    overflow-y: auto;
    position: relative;
}

div.input-textarea-container .input-textarea p {
    min-height: 22.5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
}

div.input-textarea-container .input-textarea p.is-editor-empty:first-of-type::before {
    background-color: #f9fafb;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-size: 15px;
    font-weight: 400;
    color: #b0b8c1;
    line-height: 150%;
}
div.ProseMirror {
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
}

div.receive-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
div.receive-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;

}

div.receive-wrap span:first-child {
    color: #333d4b;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}
div.receive-wrap span:last-child {
    color: #8b95a1;
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
}
input.doctor-input-content {
    padding-inline: 16px;
    border-radius: 12px;
    border: 1px solid #f2f4f6;
    background-color: #f9fafb;
    color: #333d4b;
    min-height: 48px;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    outline: none;
}


div.search-layout {
    border-radius: 12px;
    width: 100%;
    opacity: 1;
    height: 0;
    background-color: #f9fafb;
    transition: all 0.15s;
    overflow: auto;
    max-height: 200px;
    scrollbar-width: none;
    overflow-y: auto;
}
ul.mail-search-doctor-name-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-height: 200px;
}

div.mail-doctor-info span.first {
    margin-left: 10px;
    font-weight: 900;
    cursor: unset;
}

div.mail-doctor-info span.second {
    font-size: 15px;
    font-weight: 400;
    cursor: unset;
}

ul.mail-search-doctor-name-list li a.link-click div.content-info {
    height: 53px;
    padding: 11px 40px 14px 32px;
    z-index: 1000;
    position: static;
}


div.mail-doctor-search-wrap {
    position: relative;
}
div.mail-doctor-search-wrap button {
    position: absolute;
    display: none;
    top: -6px;
    bottom: 5px;
    right: 17px;
}

div.thumbnail-wrap {
    position: relative;
}
div.thumbnail-wrap img.thumbnail {
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #0000000d;
    background-color: #f2f4f6;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
div.thumbnail-wrap ul {
    display: flex;
}

div.thumbnail-wrap ul li {
    margin-right: 10px;
}

div.cancle {
    position: relative;
    width: 20px;
}
hr.btn-hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
div.mail-send-cancle {
    display: flex;
    justify-content: center;
}

button.mail-send-cancle-btn.btnshape {
    background-color: #ff4d4d;
}
button.mail-send-btn-check:disabled {
    background-color: #b0b8f5;
    cursor: pointer;
}

div.label-check-box {
    width: 50%;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 8px;
    border-radius: 14px;
    background: rgb(232, 240, 249);
}
span.checkbox-span-wrap {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
}
input[type="checkbox"].checkbox-input-display {
    display: none;
}
label.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(229, 232, 235);
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.checkbox-check.inactive {
    display: none;
}
textarea.mail-content {
    width: 100%;
    resize: none;
}
textarea.mail-content:focus {
    outline: none;
    box-shadow: none;
}

div.post-header-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 16px;
}
div.post-header-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.post-header-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
div.post-header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
div.post-header-title-wrap {
    display: flex;
}
h1.post-header-title-text {
    color: #333d4b;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}

div.post-side-bar-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button.post-reg-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 52px;
    padding: 0 10px;
    border-radius: 14px;
    background-color: #1731e9;
    gap: 4px;
    color: #fff;
}
div.post-main-container {
    display: flex;
    gap: 20px;
}
div.post-tag-btn-container {
    display: flex;
    flex-direction: column;
    gap: 12;
}
div.post-tag-header-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
span.post-tag-department {
    color: #333d4b;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}
button.post-tag-add-btn {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #e5e8eb;
}
span.post-tag-text {
    color: #8b95a1;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
}
/* 카테고리 부분 */
div.category-modal {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}

div.thumbnail-wrap img.thumbnail {
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #0000000d;
    background-color: #f2f4f6;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
div.category-list-container {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 8px;
    justify-content: space-between;
}
button.category-container-modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 36px;
    border-radius: 36px;
    background-color: #fff;
    color: #6b7684;
    padding: 0 14px 0 10px;
    gap: 12px;
    border: 1px solid #e5e8eb;
}
span.check-list {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
}
div.check-list-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}
div.check-list-svg svg {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
}
button.card-list-order-btn {
    display: flex;
    align-items: center;
    gap: 4px;
}
span.card-list-btn-text {
    color: #6b7684;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
}
div.card-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px
}
div.card-list-icon svg {
    width: 100%;
    height: 100%;
}
/* /위에 카테고리 부분 */


/* 카테고리 모달 부분 */
div.category-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px !important;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    font-size: 18px;
    will-change: transform, opacity;
    transform: translateY(0px);
    transition: transform 300ms cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    opacity: 1;
    pointer-events: auto;
    max-width: 644px !important;
    padding: 24px 32px !important;
}
div.category-modal-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
span.category-title {
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
    color: rgb(25, 31, 40);

}

div.category-btn-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.category-btn-container {
    display: flex;
    position: relative;
    width: 100%;
    overflow-y: auto;
}
div.category-btn-container-scroll {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 340px;
    overflow-y: auto;
    scrollbar-width: none;
}
div.category-content-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
div.category-content-title {
    display: flex;
    align-items: center;
    gap: 8px;
}
span.category-department {
    font-size: 20px;
    line-height: 150%;
    font-weight: 700;
    color: rgb(25, 31, 40)
}
ul.category-list-wrap {
    display: flex;
    gap: 8px;
    flex-wrap: wrap
}
button.category-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 20px;
    background-color: rgb(249, 250, 251);
}

button.category-btn {
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: rgb(78, 89, 104);
}
div.category-fix-btn-wrap {
    display: flex;
    justify-content: end;
    padding-top: 24px;
}

button.category-select-btn-del {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    min-height: 54px;
    border-radius: 14px;
    max-width: 120px;
    color: rgb(51, 61, 75);
}

button.category-select-btn-del:hover {
    background: rgb(242, 244, 246);
    color: rgb(51, 61, 75);
}
button.category-select-fix-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    min-height: 54px;
    border-radius: 14px;
    max-width: 120px;
    background: rgb(23, 49, 233);
    color: rgb(255, 255, 255);
}
button.category-select-fix-btn:hover {
    background: rgb(15, 39, 209);
    color: rgb(232, 240, 249);
}
button.category-fix-btn span {
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
}

button.category-btn.checked {
    color: rgb(86, 130, 239);
    border: 1px solid rgb(86, 130, 239);
}
/* /카테고리 모달 부분 */

div#file-cancel-btn {
    cursor: pointer;
    background-image: url('../../images/cancel.png');
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 83px;
    right: -85px;
}
div.cancle {
    position: relative;
    width: 20px;
}
div#file-cancel-btn {
    display: flex;
    padding: 4px;
    border-radius: 50%;
    background-color: #18181c8f;
}
div.department-list-container.active {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 12px;
    background-color: #f0f6fb;
    box-shadow: rgba(224, 230, 240, 0.2) 0 4px 8px 0;
}
div.department-list-wrap {
    row-gap: 8px;
    display: flex;
    gap: 4px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
div.department-item {
    flex-shrink: 0;
    justify-content: space-between;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 20px;
    background-color: rgb(249, 250, 251);
}
div.department-list-container {
    display: none;
}

div.post-reg-warn-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    border-radius: 14px;
    background-color: #fff;
}
div.post-reg-warn-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div.post-wran-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
div.wran-text{
    color: #6b7684;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
}

ul.wran-text-list{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
div.wran-text-item{
    display: flex;
    gap: 6px;
}
span.wran-content{
    color: #00132b94;
    font-size: 13px;
    font-weight: 500;
    line-height: 150%
}

div.wran-text-item::before{
    content: '•';
    position: relative;
    top: -2px;
    color: #4e5968;
}