*, :after, :before {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
}
div.h8f519full {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0px auto;
}


div.szkvbm {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 356px;
    padding: 20px 16px;
}

div.css-ftjrz7 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.d161kwn1 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;
    }

span.css-1202cko {
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
    color: rgb(25, 31, 40);
}

div.css-1n0qd3p {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}


div.css-1wjhi7 {    
     display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    }