button {
    background: inherit;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 16px;
    overflow: visible;
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
}

ul {
    list-style: none;
}

*, ::after, ::before {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    margin: 0;
}

* {
    border:oklch(92.2% 0 0);
}


.main-header-wrap {
    display: flex;
    position: fixed;
    inset-inline: 0;
    z-index: 10;
    top: 0;
    background-color: #FFFFFF;
    transition: transform 0.4s ease-in;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.main-header-container {
    display: flex;
    min-width: 1172px;
    max-width: 1172px;
    height: 80px;
    margin: 0 auto;
    padding: 0 16px;
    transition: height 0.2s;
}

.main-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    opacity: 1;
    pointer-events: auto;
}

.main-header-logo-category-wrapper {
    display: flex;
    gap: 30px;
}

.main-header-content-logo {
    display: flex;
    position: relative;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 50px;
    min-width: 50px;
    min-height: 24px;
}

.main-header-category-wrapper {
    display: flex;
    align-items: center;
}

.main-header-main-category-wrapper {
    display: flex;
    gap: 15px;
}

.main-header-main-category-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    padding: 4px;
}

.main-header-main-category-content.active {
    display: flex;
    color: #191f28;
    font-size: 17px;
    font-weight: 700;
    line-height: 100%;
}

.main-header-main-category-content {
    display: flex;
    color: #b0b8c1;
    font-size: 17px;
    font-weight: 700;
    line-height: 100%;
    gap: 4px;
}

.main-header-healthcare-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.main-header-category-hr {
    width: 1px;
    height: 18px;
    margin: 0;
    border: 0;
    background: #F2F4F6;
    margin-left: 20px;
    margin-right: 20px;
}

.main-header-sub-category-container {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-left: 0;
    padding-left: 0;
}

.main-header-sub-category-content-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 4px;
}


.main-header-sub-category-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #7e8792;
    font-size: 15px;
    font-weight: 700;
    line-height: 100%;
    white-space: nowrap;
}

.main-header-icon-button-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main-header-icon-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

.main-header-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.main-header-search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.main-header-notification-container {
    position: relative;
}

.main-header-notification-icon-wrapper {
    display: flex;
    position: relative;
}

.main-header-notification-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.main-header-customer-service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.main-header-login-profile-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 24px;
    width: 24px;
}

.main-header-login-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header-myprofile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border-radius: 16px;
    object-fit: cover;

}

.main-header-question-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    padding: 0 10px;
    border-radius: 8px;
    background-color: #1731e9;
    gap: 4px;
    color: #fff;
    width: 109px;
}

.main-header-question-button {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    width: max-content;
}



