html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*, ::backdrop, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
    moz-osx-font-smoothing: grayscale;
    webkit-font-smoothing: antialiased;
    font-family: inherit;
    line-height: inherit;
}
button, input:where([type=button],[type=reset],[type=submit]) {
    webkit-appearance: button;
    moz-appearance: button;
    appearance: button;
}
button, input:where([type=button],[type=reset],[type=submit]) {
    webkit-appearance: button;
    moz-appearance: button;
    appearance: button;
}

button, input, optgroup, select, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
}

div.full {
    display: flex;
    webkit-box-align: center;
    align-items: center;
    webkit-box-pack: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0px auto;
}

/*
*, :after, :before {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
} */


div.szkvbm_middle1 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 356px;
    padding: 20px 16px;
}

div.ftjrz7middle2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.emailloginlogomiddle3 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;

    }

span.css-1202cko {
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
    color: rgb(25, 31, 40);
}



div.sub01emailpasswordgap {  
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}


div.emailpassword {    
     display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    }


div.iprukchang {
    display: flex;
    flex-direction: column;
    gap: 3px;
 }

div.sub04k008qsemailgulssi {
    display: flex;
 }




div.subrs70ns  {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 60px;
        }

   
label.label1woir7p{
    position: relative;
 }


span.emailgul183o2av {
  font-size: 14px;
    line-height: 150%;
    font-weight: 700;
    color: rgb(25, 31, 40);
    }


div.sbo1gjemailchang {
    display: flex;
    box-sizing: content-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    border-radius: 14px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(229, 232, 235) 0px 0px 0px 1px inset;
 }





  .phone-inputa {
        justify-content: space-between;
    padding: 0px 0px 0px 0px;
    display: flex;
    align-items: center;  /* 수직 가운데 정렬 */
    gap: 18px;              /* 요소 간 간격 */

  }

  .phone-inputa input {
    width: 80px;           /* 입력창 너비 조절 */
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    border-radius: 9px;
    box-shadow: none;  
    background: rgb(255, 255, 255);
    box-shadow: rgb(229, 232, 235) 0px 0px 0px 1px inset;
  }


/* 정상 입력 상태 */
/* input.bms9cb.valid {
    box-shadow: 0 0 0 2px #1731e9 inset;
    background: #f0f5ff;
    border-radius: 14px;
} */

/* 오류 상태 */
/* input.bms9cb.invalid {
    box-shadow: 0 0 0 2px #e53935 inset;
    background: #fff3f3;
    border-radius: 14px;
}  */

input.bms9cb{
    width: 100%;
    padding: 12px 12px 12px 16px;
    border: none;
    background: transparent;
    color: rgb(25, 31, 40);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    caret-color: rgb(37, 83, 229);
    resize: none;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}




button.box5p3r3q {
    display: flex;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    min-height: 54px;
    border-radius: 14px;
    color: rgb(51, 61, 75);  
}    


.h2tnj {
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    }

input.bms9cb:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2553e5 inset; /* 파란색 테두리 효과 */
  border-radius: 14px;
}


.phone-inputa input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2553e5 inset;
  border-radius: 9px;
}


input.bms9cb.input-filled {
  box-shadow: 0 0 0 2px #2553e5 inset;
  border-radius: 14px;
}


#loginBtn {
  background-color: #ccc;  /* 비활성: 회색 */
  color: white;
  cursor: not-allowed;
    display: flex;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    min-height: 54px;
    border-radius: 14px;
    color: rgb(255, 255, 255);
}




#loginBtn.active {
  background-color: #00b336; /* 활성: 녹색 */
  cursor: pointer;
}


#kakao {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 60%;
    height: 52px;
    padding: 0 10px;
    border-radius: 14px;
    background-color: #F9D450;
    gap: 4px;
    color: #333D4B;
    background-color: #F9D450;
    color: #333D4B;
    gap: 12px;
    cursor: pointer;
}

