<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>골든타임</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/error/error404.css">
    <link rel="shortcut icon" href="/images/golden-time-favicon.png" type="image/x-icon">
</head>
<body>
    <main>
        <div class="error-404-container">
            <img src="https://media.a-ha.io/aha-qna/images/v3/product/fallback/shh-jangdoyeon.webp" class="error-404-img">
            <div class="error-404-comment-container">
                <span class="comment-header">
                    어라?
                </span>
                <div class="span-horizon"></div>
                <span class="comment-body">
                    요청하신 페이지를 찾을 수 없습니다.<br>주소가 잘못 입력되었거나, 페이지가 삭제되었을 수 있습니다.<br>불편을 드려 죄송합니다. 원하시는 정보를 찾으실 수 있도록 도와드릴게요.
                </span>
            </div>
            <div class="error-404-btn-container">
                <!-- 버튼 클릭 이벤트 -->
                <button class="befor-page-mv">
                    <span class="bnt-text">
                        이전으로
                    </span>
                </button>
                <!-- /버튼 클릭 이벤트 -->
                <!-- 버튼 클릭 이벤트 -->
                <a class="home-btn-wrap">
                    <button class="home-btn">
                        <span class="bnt-text">홈으로</span>
                    </button>
                </a>
                <!-- /버튼 클릭 이벤트 -->
            </div>
        </div>
    </main>
</body>
<script src="/js/error/event.js"></script>
</html>