<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/doctorList.css">
    <link rel="stylesheet" href="../../static/css/fonts.css">
</head>
<body>
    <!-- main -->
    <main>
        <div class="mainContainer">
            <header class="coachMarkWrapper">
                <ul class="coachMarkContainer">
                    <li>
                        <span class = "btnContent active">인기</span>
                    </li>
                    <li>
                        <span class = "btnContent">인기</span>
                    </li>
                    <li>
                        <span class = "btnContent">인기</span>
                    </li>
                </ul>
            </header>
            <!-- 무한 스크롤 -->
            <div class="contentWrapper">
                <div class="contentListContainer">
                    <ul class="contentList">
                        <!-- 반복 부분 -->
                        <li>
                            <a class="linkClick">
                                <div class="contentInfo">
                                    <img src="https://media.a-ha.io/aha-qna/images/v3/product/default-profile-image.webp" width="48" height="48" alt="" class="contentInfoImg" style="color: transparent">
                                    <div class="contentInfoText">
                                        <div class="typeUserWrapper">
                                            <div class="departTreatment">
                                                <div class="doctorInfo">
                                                    <span class="doctorInfoName">
                                                        의사 이름 
                                                    </span>
                                                </div>
                                                <div class="departTreatmentWrap">
                                                    <span>
                                                        진료 과목
                                                    </span>
                                                    <span>
                                                        안과
                                                    </span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="infoContainer">
                                            <span >
                                                소속 병원
                                            </span>
                                            <span >
                                                서울 백병원
                                            </span>
                                        </div>
                                        <div class="infoContainer">
                                            <span >
                                                병원 전화 번호 
                                            </span>
                                            <span>
                                                02-123-1234
                                            </span>
                                        </div>
                                        <div class="iconBtnWrap">
                                            <div class="iconContainer">
                                                <img src="../../static/images/DrIcon-Photoroom.png" with="35" height="35" alt="">
                                                <span class="greeting"> <strong>최선</strong>을 다하겠습니다.</span>
                                            </div>
                                            <div class="btnContainer">
                                                <div class="btnWrap">
                                                    <!-- 쪽지 클릭 이벤트 -->
                                                    <button class="btnshape mailSendBtn">
                                                        <span>쪽지 보내기</span>
                                                    </button>
                                                    <!-- /쪽지 클릭 이벤트 -->
                                                    <!-- 관심 추가 클릭 이벤트 -->
                                                    <button class="btnshape interestBtn">
                                                        <span>관심 추가 +</span>
                                                    </button>
                                                    <!-- /관심 추가 클릭 이벤트 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- /반복 부분 -->
                    </ul>
                </div>
            </div>
            <!-- /무한 스크롤 -->
        </div>
    </main>
    <!-- /main -->
</body>
</html>