.mydoctor-main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 20px;
}

.mydoctor-main-category-wrap {
    display: flex;
}

.mydoctor-main-category-container {
    width: 100%;
    padding: 0px;
}

.mydoctor-category-group-wrapper {
    display: flex;
    gap: 16px;
}

.mydoctor-category-wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: 116px;
    padding: 12px 0px;
    cursor: pointer;
}

.mydoctor-category-content-wrapper {
    display: flex;
    gap: 4px;
}

.mydoctor-category-content-active {
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    margin-left: 3px;
    align-items: center;
    justify-content: center;
    color: rgb(25, 31, 40);
}

.mydoctor-category-content{
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: rgb(176, 184, 193);
}

.mydoctor-category-highlight {
    position: absolute;
    bottom: 0px;
    width: 100%;
    transform: translateX(calc(0% + 0px));
    transition: transform 0.1s ease-in;
    border-bottom: 2px solid rgb(25, 31, 40);
    will-change: transform;
}

.mydoctor-content-button-container {
    display: flex;
    gap: 16px;
}

.mydoctor-content-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    padding: 0 10px;
    border-radius: 8px;
    background-color: #1731e9;
    gap: 4px;
    color: #fff;
    width: 112px;
}

.mydoctor-content-button {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    width: max-content;
}

.mydoctor-content-button-wrapper img{
    margin-bottom: 2px;
    width: 13px;
    height: 13px;
}

.docterinfo-favorite-wrapper {
    display: flex;
    align-items: center;
    gap:2px;
}

.doctorinfo-favoriteCount {
    font-size: 14px;
    font-weight: 500;
    color:#6b7684;
}

.mydoctor-content-no-exist-wrapper {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.mydoctor-content-no-exist {
    color: #6b7684;
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
    white-space: pre;
    text-align: center;
    margin-top: 16px;
}

img {
    vertical-align: middle;
    display: block;
}