<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/fonts.css">
    <link rel="stylesheet" href="../../static/css/post/post-detail.css">
</head>
<body>
    <main>
        <div class="main container">
            <div class="main-layout-container">
                <div class="main-layout-wrap">
                    <div class="main-layout-content">
                        <div class="main-layout">
                        <a class="writer-profil-container">
                            <div class="writer-profil-wrap">
                                <img src="https://www.a-ha.io/questions/_next/image?url=https%3A%2F%2Fmedia.a-ha.io%2Faha-qna%2Fimages%2Fv3%2Fproduct%2Fdefault-profile-image.webp&w=64&q=75">
                            </div>
                            <div class="writer-profil-content">
                                <div class="writer-info">
                                    <span>작성자 이름</span>
                                    <div class="write-date">
                                        <span>1일 전</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                        <div class="content-layout">
                            <h1 class="content-title">작성글의 제목입니다.</h1>
                            <span class="content-text">adakjsdasdasdhlk</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>