body, html{
    text-size-adjust: none;
    height: 100%;
    overscroll-behavior-x: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    margin: 0;
    padding: 0;
}


audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

button, input, optgroup, select, textarea
{
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
}
*{
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}

menu, ol, ul {
    list-style: none;
}

*, ::backdrop, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}
path{
    clip-rule: evenodd;
    fill: #b0b8c1;
    fill-rule: evenodd;
}

body{
    color: #000;
    overscroll-behavior-y: none;
    font-family: Pretendard Variable;
    font-size: 16px;
    line-height: 150%;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1172px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 170px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1172px;
    min-height: 100vh;
}

button {
    background: inherit;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 16px;
    overflow: visible;
}

div.info-layout-container{
    display: flex;
    gap:16px;
}

div.info-main-layout-wrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

div.info-header-layout{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div.info-header-wrap{
    display: flex;
    gap: 40px;
    align-items: center;
}
img.info-profil-img{
    border: 1px solid rgb(242,244,246);
    border-radius: 10px;
    object-fit: cover;
}
div.info-profil-text-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

div.info-profil-name-wrap{
    display: flex;
    gap: 4px;
    flex-direction: column;
}
span.info-profil-name{
    font-size: 24px;
    line-height: 140%;
    font-weight: 700
}

div.btn-wrap{
    display: flex;
    gap: 16px;
}
div.btn-container{
    position: absolute;
    bottom: 19px;
    right: 13px;
}

button.btnshape{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    padding: 0 10px;
    border-radius: 8px;
    background-color: #1731e9;
    gap: 4px;
    color: #fff;
    width: 109px;
}
button.btnshape span{
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    width: max-content;
}

button.btnshape img{
    margin-bottom: 2px;
    width: 13px;
    height: 13px;
}

button.interest-btn.active{
    background-color: #10b981;
}


button.mail-send-btn img, button.mail-send-btn-check img{
    margin-bottom: 2px;
    width: 20px;
    height: 22px;
}

div.kakao-map{
    width: 100%;
    background-image: url("../../images/temp.png");
    height: 300px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}
div.side-bar-container{
    /* position: sticky; */
    /* top: 300px; */
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}
div.content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

span.department::after{
    content: "";
    font-size: 9px;
    border: 1px solid rgb(107, 118, 132);
    margin: 0px 10px 0px 10px;
    vertical-align: 2px;
    margin-left:10px ;
}
span.department-content{
    font-size: 14px;
    line-height: 150%;
    font-weight: 700;
    color: rgb(107, 118, 132);
}
span.info-profil-introduction{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; /* 또는 block도 가능 */
    max-width: 100%;       /* 부모 div 너비 기준 */
}

div.main-container{
    display: flex;
    gap: 16px;
}

div.profil-content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div.profil-content-title-container{
    display: flex;
}
div.profil-content-title-wrap{
    width: 100%;
    border-bottom: 1px solid rgb(242,244,246);
    padding: 0px;
}
div.profil-content-section{
    display: flex;
    gap: 16px;
}
div.profil-content-select{
    display: flex;
    justify-content: center;
    position: relative;
    width: 116px;
    padding: 12px 0px;
    cursor: pointer;
}
div.profil-content{
    display: flex;
    gap: 4px;
}
span.profil-content-text{
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: rgb(176, 184, 193);
}

div.profil-content-selector{
    position: absolute;
    bottom: 0px;
    width: 100%;
    transform: translateX(calc(0% + 0px));
    transition: transform 0.1s ease-in;
    border-bottom: 2px solid rgb(25, 31, 40);
    will-change: transform;
}

div.profil-content-selector span{
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: rgb(176, 184, 193);
}

span.active{
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    color: rgb(25, 31, 40);
}

div.no-search-result-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
span.no-search-result-text{
    color: #6b7684;
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    margin-top: 16px;
}
div.department-tag-wrap{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 8px;
}
div.department-tag-container{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 8px;
}
div.department-tag-content{
    display: flex;
    align-items: center;
    gap: 8px;
}
span.department-tag-text{
    font-size: 18px;
    letter-spacing: 0;
    line-height: 150%;
    font-weight: 700;
    color: #333d4b;
}
div.department-list-container{
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 12px;
    background-color: #f0f6fb;
    box-shadow: rgba(224, 230, 240, 0.2) 0px 4px 8px 0px;
}
div.department-list-wrap{
    row-gap: 8px;
    display: flex;
    gap: 4px;
    justify-content: center;
    flex-wrap: wrap;
}
div.department-item{
    flex-shrink: 0;
    justify-content: space-between;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 20px;
    background-color: rgb(249, 250, 251);
}

a.link-click img {
    border-radius: 12px;
}

ul.mail-search-doctor-name-list li a.link-click div.content-info{
    height: 53px;
    padding: 11px 40px 14px 32px;
    z-index: 1000;
    position: static;
}
div.content-info-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

div.type-user-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

div.depart-treatment {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

div.doctor-info, div.hospital-info {
    cursor: pointer;
}

div.doctor-info span:first-child {
    font-size: 22px;
    line-height: 150%;
    font-weight: 500;
}

span.first::after {
    content: "";
    font-size: 9px;
    border: 1px solid rgb(107, 118, 132);
    margin: 0px 10px 0px 10px;
    vertical-align: 3px;
}


div.doctor-list{
    flex-direction: column;
}