element.style {

}

:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #507cf3;
    --secondary: #bed6d5;
    --success: #40c8bc;
    --info: #8baaff;
    --warning: #f93;
    --danger: #fe657e;
    --light: #f8f9fa;
    --dark: #4e5d6c;
    --breakpoint-xs: 0;
    --breakpoint-sm: 800px;
    --breakpoint-md: 992px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1700px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    view-transition-name: root;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    line-height: 1.15;
    height: 100%;
    min-height: 100vh;
    display: block;
}

* { 
    box-sizing: border-box;
}

title {
    display: none;
}

meta {
    display: none;
}

link {
    display: none;
}

script {
    display: none;
}

body #bootpay {
    height: 100%;
}

#bootpay {
    background-color: #f5f5f5;
    display: flex;
}

div {
    unicode-bidi: isolate;
    display: block;
}

body {
    font-family: Arial, NotoSansKr, Noto Sans, sans-serif;
    letter-spacing: -.3px;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

#boot-notify-container {
    padding: 20px 20px 0 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 340px;
    z-index: 1051;
}

.popup-manager {
    background-color: gray;
    height: 0;
    left: 50%;
    overflow: visible;
    position: fixed;
    top: 10%;
    transform: translate(-50%);
    z-index: 1041;
}

#bootpay>#bootpay-side {
    transition: all .2s;
    width: 240px;
}

aside{
    display: block;
    unicode-bidi: isolate;
}

#bootpay>#bootpay-side #side-wrapper {
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .06);
    height: 100%;
    transition: all .2s;
    width: 240px;
}

.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}
#bootpay>#bootpay-side #side-wrapper .side-header .app-wrapper {
    padding: 14px 18px 24px;
    position: relative;
}

#bootpay>#bootpay-side #side-wrapper .side-header .app-wrapper .provider-name {
    color: #8b9298;
    font-size: 13px;
    font-weight: 700;
    padding: 6px 10px;
    vertical-align: middle;
}

.comp-provider-name {
    white-space: nowrap;
}

.comp-provider-name span.pn-name {
    display: inline-block;
    vertical-align: middle;
}

#bootpay>#bootpay-side #side-wrapper .side-header .app-wrapper .app-name {
    background-color: rgba(80, 124, 243, .07);
    border-radius: 3px;
    color: #507cf3;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 14px;
    transition: background-color .1s;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}

a {
    text-decoration: none !important;
    background-color: transparent;
}

i {
    font-style: italic;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper {
    padding: 20px;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li a{
    border-radius: 3px;
    color: #292929;
    font-size: 14px;
    font-weight: 700;
    padding: .7rem .5rem;
    transition: all .4s;
    vertical-align: middle;
}

.w-100 {
    width: 100% !important;
}

.d-flex {
    display: flex !important;
}

a:-webkit-any-link {
    cursor: pointer;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li>ul.menu-sub-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.collapse:not(.show) {
    display: none;
}

:is(dir, dl, menu, ol, ul) ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li>ul.menu-sub-list>li {
    margin-left: 1.1rem;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li>ul.menu-sub-list>li>a {
    color: #56626a;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 0 8px 24px;
    transition: all .2s;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li a{
    border-radius: 3px;
    vertical-align: middle;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li a i{
    font-size: 17px;
    vertical-align: middle;
}

/* i태스 이미지 */
.mdi-tune-vertical:before {
    content: "\F066A";
}

.mdi:before{
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal normal normal 24px / 1 Material Design Icons;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
}

:before {
    box-sizing: border-box;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li a span.menu-name {
    line-height: 26px;
    margin-left: 12px;
}

.text-right {
    text-align: right !important;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li a i {
    font-size: 17px;
    vertical-align: middle;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li>ul.menu-sub-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.collapse:not(.show) {
    display: none;
}


