<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/rank/rank.css">
    <link rel="shortcut icon" href="/images/golden-time-favicon.png" type="image/x-icon">
    <title>골든타임</title>
</head>
<body>
    <main>
            <div class="rank-header-container">
                <div class="rank-header-wrap">
                    <h1>랭킹</h1>
                </div>
            </div>
            <!-- 리스트  -->
            <ul class="rank-content-list-container">
                <li>
                    <a>
                        <div class="list-item-container">
                            <div class="list-item-wrap likes">
                                <div>
                                    <h1>💬답변왕</h1>
                                </div>
                                <div class="doctor-info-content">
                                    <img src="https://media.a-ha.io/aha-qna/images/v3/product/default-profile-image.webp">
                                    <div class="doctor-info-text-wrap">
                                        <div>
                                            <span>의사 이름</span>
                                        </div>
                                        <div>
                                            <span>서울 백병원</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item-content-wrap">
                                    <div class="list-item-content">
                                        <span class="list-item-text">
                                            신중하고 정확한 답변으로, 환자와 보호자에게 깊은 신뢰를 전한 전문가입니다.
                                        </span>
                                    </div>
                                </div>
                                <div class="list-item-bottom-img">
                                    <img src="https://media.a-ha.io/aha-qna/images/common/3D/write.png">
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="list-item-container">
                            <div class="list-item-wrap answer-king">
                                <div>
                                    <h1>🌟별점왕</h1>
                                </div>
                                <div class="doctor-info-content">
                                    <img src="https://media.a-ha.io/aha-qna/images/v3/product/default-profile-image.webp">
                                    <div class="doctor-info-text-wrap">
                                        <div>
                                            <span>의사 이름</span>
                                        </div>
                                        <div>
                                            <span>서울 백병원</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item-content-wrap">
                                    <div class="list-item-content">
                                        <span class="list-item-text">
                                            높은 평가 속에 깃든 감사의 마음. 꾸준한 노력과 진심이 만들어낸 결과입니다.
                                        </span>
                                    </div>
                                </div>
                                <div class="list-item-bottom-img">
                                    <img src="/images/star-rate.png">
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="list-item-container">
                            <div class="list-item-wrap rate">
                                <div>
                                    <h1>👀관심왕</h1>
                                </div>
                                <div class="doctor-info-content">
                                    <img src="https://media.a-ha.io/aha-qna/images/v3/product/default-profile-image.webp">
                                    <div class="doctor-info-text-wrap">
                                        <div>
                                            <span>의사 이름</span>
                                        </div>
                                        <div>
                                            <span>서울 백병원</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item-content-wrap">
                                    <div class="list-item-content">
                                        <span class="list-item-text">
                                            많은 이들이 주목한 정보, 꼭 필요한 사람들에게 전해진 의미 있는 흔적입니다.
                                        </span>
                                    </div>
                                </div>
                                <div class="list-item-bottom-img">
                                    <img src="https://media.a-ha.io/aha-qna/images/common/3D/invite.png">
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /리스트 -->
    </main>
</body>
</html>