/* @charset "utf-8"; */

/* 병원 부분이랑 의사부분 css입니다. */

body, html{
    text-size-adjust: none;
    height: 100%;
    overscroll-behavior-x: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    margin: 0;
    padding: 0;
}


audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

button, input, optgroup, select, textarea
{
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
}
*{
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}

menu, ol, ul {
    list-style: none;
}

*, ::backdrop, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}
path{
    clip-rule: evenodd;
    fill: #b0b8c1;
    fill-rule: evenodd;
}

body{
    color: #000;
    overscroll-behavior-y: none;
    font-family: Pretendard Variable;
    font-size: 16px;
    line-height: 150%;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1172px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 170px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1172px;
    min-height: 100vh;
}

div.main-container{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
button {
    background: inherit;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 16px;
    overflow: visible;
}

ul.coach-mark-container,ul.category-list-wrap{
    display: flex;
    gap: 20px;
}

header.coach-mark-wrapper{
    display: flex;
    justify-content: space-between;
}


li span.btn-content{
    font-size: 32px;
    line-height: 130%;
    font-weight: 700;
    color: #B0B8C1;
}

li span.active{
    font-size: 32px;
    line-height: 130%;
    font-weight: 700;
    color: #191F28;
}

div.content-wrapper{
    display: flex;
    gap: 16px;
}
div.content-list-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

ul.content-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 804px;
}


div.content-info{
    display: flex;
    gap: 16px;
    padding: 32px 40px 32px 32px;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(224, 230, 240, 0.2) 0px 4px 8px 0px;
}

div.content-info img.content-info-img{
    border-radius: 16px;
    object-fit: cover;
}
div.content-info-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
div.type-user-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

div.depart-treatment {
    display: flex;
    flex-direction: column;
    gap: 4px;
}



div.depart-treatment-wrap {
    display: flex;
    align-items: center;
    gap: 4px;
}

div.depart-treatment-wrap span, div.info-container span {
        font-size: 14px;
        line-height: 150%;
        font-weight: 400;
        color: rgb(51, 61, 75);
}



div.depart-treatment-wrap span:last-child, div.info-container span.second{
    font-size: 14px;
    line-height: 150%;
    font-weight: 700;
    color: rgb(107, 118, 132);
    /* margin-left: 25px; */
}

div.depart-treatment-wrap span:first-child, div.info-container span.first{
    font-size: 14px;
    line-height: 150%;
    font-weight: 700;
    color: rgb(51, 61, 75);
}

div.info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
div.doctor-info{
    display: flex;
    align-items: center;
    gap: 8px;
}

hr.category-ul-horizon{
    width: 100%;
    height: 1px;
    margin: 0px;
    border: 0px;
    background: #f2f4f6;
}

div.doctor-info span:first-child{
    font-size: 22px;
    line-height: 150%;
    font-weight: 500;
}

div.icon-btn-wrap{
    display: flex;
    justify-content: space-between;
}

div.icon-container{
    display: flex;
    align-items: center;
    gap: 4px;
}
span.greeting{
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    color: rgb(51, 61, 75);
}
span.greeting strong{
    font-weight: 700;
}

div.btn-wrap{
    display: flex;
    gap: 16px;
}

button.btnshape{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    padding: 0 10px;
    border-radius: 8px;
    background-color: #1731e9;
    gap: 4px;
    color: #fff;
    width: 109px;
}
button.btnshape span{
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    width: max-content;
}



button.btnshape img{
    margin-bottom: 2px;
    width: 13px;
    height: 13px;
}

button.mail-send-btn img, button.mail-send-btn-check img{
    margin-bottom: 2px;
    width: 20px;
    height: 22px;
}

button.interest-btn.active{
    background-color: #10b981;
}

span.first::after{
    content: "";
    font-size: 9px;
    border: 1px solid rgb(107, 118, 132);
    margin: 0px 10px 0px 10px;
    vertical-align: 3px;
}
span.detail-address{
    margin-left: 26px;
}

div.doctor-info, div.hospital-info{
    cursor: pointer;
}
div.side-bar-container{
    position: sticky;
    top: 84px;
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}

div.kakao-map{
    width: 100%;
    margin-top: 62px;
    background-image: url("../../images/temp.png");
    height: calc(100% - 62px);
}



@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

div.modal ,div.mail-send-modal,div.category-modal{
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}
/* div.mail-send-modal{
    display: flex;
} */
div.warn-modal {
    box-sizing: border-box;
    position: unset;
    width: 288px;
    margin: 20vh 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(33 35 41 / 12%) 0px 2px 12px;
    border-radius: 8px;
}

div.warn-modal {
    padding: 24px;
}

div#content-wrap span{
    display: block;
}

/* 나중에 게시글 작성 부분 */
div.mail-modal{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #e5e8eb;
}
div.mail-title-wrap{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
div.mail-title-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.mail-title-content{
    color: #333d4b;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}

span.text-warn{
    color: #b0b8c1;
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    gap: 4px;
}

span.text-warn::before{
    content: attr(data-count);
    color: #333d4b;
}
div.main-title-input-wrap,div.doctor-search-wrap{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

input.mail-title-input-content{
    padding-inline: 16px;
    border-radius: 12px;
    border: 1px solid #f2f4f6;
    background-color: #f9fafb;
    color: #333d4b;
    min-height: 48px;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    outline: none;
}
/* 경고 표시 */
input.warn{
    border: 1px solid #e42939;
}

div.mail-modal hr.line-hr{
    width: 100%;
    height: 1px;
    background: #fff;
}


hr.content-hr{
    margin-top: 20px;
    margin-bottom: 20px;
}


hr.input-btn-list-bottom{
    margin: 0;
    border: 0;
}

div.mail-content-container{
    display: flex;
    flex-direction: column;
}
div.mail-content-wrap{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
div.mail-content-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label.content-text{
    color: #333d4b;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%
}

div.mail-content-input-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.mail-content-input-container{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid #f2f4f6;
}
div.input-btn-list-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
}
label.img-btn{
    display: flex;
    padding: 8px;
    cursor: pointer;
}
input#create-question-image{
    display: none;
}
button.input-style-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
div.input-textarea-container{
    padding: 14px 16px;
    border-radius: 0 0 12px 12px;
    background-color: #f9fafb;
}
div.input-textarea{
    color: #333d4b;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    outline: none;
    height: 252px;
    overflow-y: auto;
    position: relative;
}

div.input-textarea-container .input-textarea p{
    min-height: 22.5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
}

div.input-textarea-container .input-textarea p.is-editor-empty:first-of-type::before {
    background-color: #f9fafb;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-size: 15px;
    font-weight: 400;
    color: #b0b8c1;
    line-height: 150%;
}
div.ProseMirror{
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
}

div.receive-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
div.receive-wrap{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;

}

div.receive-wrap span:first-child{
    color: #333d4b;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}
div.receive-wrap span:last-child{
    color: #8b95a1;
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
}
input.doctor-input-content{
    padding-inline: 16px;
    border-radius: 12px;
    border: 1px solid #f2f4f6;
    background-color: #f9fafb;
    color: #333d4b;
    min-height: 48px;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    outline: none;
}


div.search-layout {
    border-radius: 12px;
    width: 100%;
    opacity: 1;
    height: 0px;
    background-color: #f9fafb;
    transition: all 0.15s;
    overflow:auto;
    max-height: 200px;
    scrollbar-width: none;
    overflow-y: auto;
}
ul.mail-search-doctor-name-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-height: 200px;
}

div.mail-doctor-info  span.first{
    margin-left: 10px;
    font-weight: 900;
    cursor: unset;
}

div.mail-doctor-info  span.second{
    font-size: 15px;
    font-weight: 400;
    cursor: unset;
}

ul.mail-search-doctor-name-list li a.link-click div.content-info{
    height: 53px;
    padding: 11px 40px 14px 32px;
    z-index: 1000;
    position: static;
}


div.mail-doctor-search-wrap{
    position: relative;
}
div.mail-doctor-search-wrap button{
    position: absolute;
    display: none;
    top: -6px;
    bottom: 5px;
    right: 17px;
}

div.thumbnail-wrap{
    position: relative;
}
div.thumbnail-wrap img.thumbnail{
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #0000000d;
    background-color: #f2f4f6;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
div.thumbnail-wrap ul{
    display: flex;
}

div.thumbnail-wrap ul li{
    margin-right: 10px;
}

div#file-cancel-btn{
    cursor: pointer;
    background-image: url(../../images/cancel.png);
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 37px;
    bottom: 36px;
}
div.cancle{
    position: relative;
    width: 20px;
}
div#file-cancel-btn{
    display: flex;
    padding: 4px;
    border-radius: 50%;
    background-color: #18181c8f;
}


hr.btn-hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
div.mail-send-cancle{
    display: flex;
    justify-content: center;
}

button.mail-send-cancle-btn.btnshape{
    background-color: #ff4d4d;
}
button.mail-send-btn-check:disabled{
    background-color: #b0b8f5;
    cursor: pointer;
}

div.label-check-box{
    width: 50%;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    gap: 8px;
    border-radius: 14px;
    background: rgb(232, 240, 249);
}
span.checkbox-span-wrap{
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
}
input[type="checkbox"].checkbox-input-display{
    display: none;
} 
label.checkbox-label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(229, 232, 235);
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.checkbox-check.inactive{
    display: none;
}
textarea.mail-content{
    width: 100%;
    resize: none;
}
textarea.mail-content:focus{
    outline: none;
    box-shadow: none;
}
/* /나중에 게시글 작성 부분 */

/* 위에 카테고리 부분 */
div.category-list-container{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 8px;
    justify-content: space-between;
}
button.category-container-modal-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 36px;
    border-radius: 36px;
    background-color: #fff;
    color: #6b7684;
    padding: 0px 14px 0px 10px;
    gap: 12px;
    border: 1px solid #e5e8eb;
}
span.check-list{
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
}
div.check-list-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}
div.check-list-svg svg{
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
}
button.card-list-order-btn{
    display: flex;
    align-items: center;
    gap: 4px;
}
span.card-list-btn-text{
    color: #6b7684;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
}
div.card-list-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px
}
div.card-list-icon svg {
    width: 100%;
    height: 100%;
}
/* /위에 카테고리 부분 */


/* 카테고리 모달 부분 */
div.category-modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    font-size: 18px;
    will-change: transform, opacity;
    transform: translateY(0px);
    transition: transform 300ms cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    opacity: 1;
    pointer-events: auto;
    max-width: 644px !important;
    padding: 24px 32px !important;
}
div.category-modal-wrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
span.category-title{
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
    color: rgb(25, 31, 40);
    
}

div.category-btn-wrap{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.category-btn-container{
    display: flex;
    position: relative;
    width: 100%;
    overflow-y: auto;
}
div.category-btn-container-scroll{
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 340px;
    overflow-y: auto;
    scrollbar-width: none;
}
div.category-content-wrap{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
div.category-content-title{
    display: flex;
    align-items: center;
    gap: 8px;
}
span.category-department{
    font-size: 20px;
    line-height: 150%;
    font-weight: 700;
    color: rgb(25, 31, 40)
}
ul.category-list-wrap{
    display: flex;
    gap: 8px;
    flex-wrap: wrap
}
button.category-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 20px;
    background-color: rgb(249, 250, 251);
}

button.category-btn{
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: rgb(78, 89, 104);
}
div.category-fix-btn-wrap{
    display: flex;
    justify-content: end;
    padding-top: 24px;
}

button.category-select-btn-del{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    min-height: 54px;
    border-radius: 14px;
    max-width: 120px;
    color: rgb(51, 61, 75);
}

button.category-select-btn-del:hover{
    background: rgb(242, 244, 246);
    color: rgb(51, 61, 75);
}
button.category-select-fix-btn{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    min-height: 54px;
    border-radius: 14px;
    max-width: 120px;
    background: rgb(23, 49, 233);
    color: rgb(255, 255, 255);
}
button.category-select-fix-btn:hover{
    background: rgb(15, 39, 209);
    color: rgb(232, 240, 249);
}
button.category-fix-btn span{
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
}

button.category-btn.checked{
    color: rgb(86, 130, 239);
}
/* /카테고리 모달 부분 */

/* 검색창 부분 */
div.total-search-container{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 16px 0;
}
div.total-search-input-wrap{
    display: flex;
    width: 600px;
    padding-bottom: 12px;
    border-bottom: 2px solid #F2F4F6;
}
input.total-search-input{
    width: 100%;
    border: none;
    outline: none;
    color: #333D4B;
    font-size: 22px;
    font-weight: 400;
}

div.total-search-input-wrap:focus-within {
    border-bottom: 2px solid #5682EF;
}
/* /검색창 부분 */

/* 검색 결과 없음 */
div.no-search-result-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
span.no-search-result-text{
    color: #6b7684;
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    margin-top: 16px;
}
/* /검색 결과 없음 */

/* 병원 부분 */
div.items-center{
    height: 1px;
    border: 1px solid #f2f4f6;;
}
div.doctor-list-btn{
    display: flex;
}
div.doctor-list-container{
    display: flex;
    gap: 12px;
}

div.doctor-user-list-wrap{
    justify-content: center;
    margin-left: 20px;
}

a.link-click img{
    border-radius: 12px;
}

div.doctor-quick-info{
    border: 1px solid rgb(229, 232, 235);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.doctor-mv-detail-info{
    margin: 7px 0px;
    cursor: pointer;
}
div.doctor-user-list-wrap div.doctor-list-container div.doctor-info{
    cursor: unset;
}

div.hospital-list-text-wrap{
    gap: 8px;
}

div.no-search-hospital{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.no-doctor-quick-info{
    height: 52px;
}

span.no-search-span{
    margin-top: 0; 
    margin-left: 10px;
}