/* @charset "utf-8"; */

body, html{
    text-size-adjust: none;
    height: 100%;
    overscroll-behavior-x: none;
}


audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

button, input, optgroup, select, textarea
{
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
}
*{
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}

menu, ol, ul {
    list-style: none;
}

*, ::backdrop, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

body{
    color: #000;
    overscroll-behavior-y: none;
    font-family: Pretendard Variable;
    font-size: 16px;
    line-height: 150%;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1172px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 170px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1172px;
    min-height: 100vh;
}

div.main-container{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
button {
    background: inherit;
    box-shadow: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 16px;
    overflow: visible;
}

ul.coach-mark-container{
    display: flex;
    gap: 20px;
}

li span.btn-content{
    font-size: 32px;
    line-height: 130%;
    font-weight: 700;
    color: #B0B8C1;
}

li span.active{
    font-size: 32px;
    line-height: 130%;
    font-weight: 700;
    color: #191F28;
}

div.content-wrapper{
    display: flex;
    gap: 16px;
}
div.content-list-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

ul.content-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 804px;
}


div.content-info{
    display: flex;
    gap: 16px;
    padding: 32px 40px 32px 32px;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(224, 230, 240, 0.2) 0px 4px 8px 0px;
}

div.content-info img.content-info-img{
    border-radius: 16px;
    object-fit: cover;
}
div.content-info-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
div.type-user-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

div.depart-treatment {
    display: flex;
    flex-direction: column;
    gap: 4px;
}



div.depart-treatment-wrap {
    display: flex;
    align-items: center;
    gap: 4px;
}

div.depart-treatment-wrap span, div.info-container span {
        font-size: 14px;
        line-height: 150%;
        font-weight: 400;
        color: rgb(51, 61, 75);
}



div.depart-treatment-wrap span:last-child, div.info-container span.second{
    font-size: 14px;
    line-height: 150%;
    font-weight: 700;
    color: rgb(107, 118, 132);
    /* margin-left: 25px; */
}

div.depart-treatment-wrap span:first-child, div.info-container span.first{
    font-size: 14px;
    line-height: 150%;
    font-weight: 700;
    color: rgb(51, 61, 75);
}

div.info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
div.doctor-info{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}

div.doctor-info span{
    font-size: 22px;
    line-height: 150%;
    font-weight: 500;
}

div.icon-btn-wrap{
    display: flex;
    justify-content: space-between;
}

div.icon-container{
    display: flex;
    align-items: center;
    gap: 4px;
}
span.greeting{
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    color: rgb(51, 61, 75);
}
span.greeting strong{
    font-weight: 700;
}

div.btn-wrap{
    display: flex;
    gap: 16px;
}

button.btnshape{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    padding: 0 10px;
    border-radius: 8px;
    background-color: #1731e9;
    gap: 4px;
    color: #fff;
    width: 109px;
}
button.btnshape span{
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    width: max-content;
}



button.btnshape img{
    margin-bottom: 2px;
    width: 13px;
    height: 13px;
}

button.mail-send-btn img{
    margin-bottom: 2px;
    width: 20px;
    height: 22px;
}

button.interest-btn.active{
    background-color: #10b981;
}

span.first::after{
    content: "";
    font-size: 9px;
    border: 1px solid rgb(107, 118, 132);
    margin: 0px 10px 0px 10px;
    vertical-align: 3px;
}
span.detail-address{
    margin-left: 26px;
}

div.doctor-info, div.hospital-info{
    cursor: pointer;
}
div.side-bar-container{
    position: sticky;
    top: 84px;
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}

div.kakao-map{
    width: 100%;
    /* background-color: #000; */
    background-image: url("../../images/temp.png");
    height: 100%;
}



@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

div.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}

div.warn-modal {
    box-sizing: border-box;
    position: unset;
    width: 288px;
    margin: 20vh 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(33 35 41 / 12%) 0px 2px 12px;
    border-radius: 8px;
}

div.warn-modal {
    padding: 24px;
}

div#content-wrap span{
    display: block;
}
div.mail-send-modal{
    display: flex;
    /* display: none; */
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}

/* 나중에 게시글 작성 부분 */
div.mail-modal{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #e5e8eb;
}
div.mail-title-wrap{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
div.mail-title-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.mail-title-content{
    color: #333d4b;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}

span.text-warn{
    color: #b0b8c1;
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    gap: 4px;
}

span.text-warn::before{
    content: "0";
    color: #333d4b;
}
div.main-title-input-wrap{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

input.mail-title-input-content{
    padding-inline: 16px;
    border-radius: 12px;
    border: 1px solid #f2f4f6;
    background-color: #f9fafb;
    color: #333d4b;
    min-height: 48px;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    outline: none;
}
/* 경고 표시 */
input.warn{
    border: 1px solid #e42939;
}

div.mail-modal hr.line-hr{
    width: 100%;
    height: 1px;
    background: #fff;
}


hr.content-hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

hr.input-btn-list-bottom{
    margin: 0;
    border: 0;
}

div.mail-content-container{
    display: flex;
    flex-direction: column;
}
div.mail-content-wrap{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
div.mail-content-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label.content-text{
    color: #333d4b;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%
}

div.mail-content-input-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.mail-content-input-container{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid #f2f4f6;
}
div.input-btn-list-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
}
label.img-btn{
    display: flex;
    padding: 8px;
    cursor: pointer;
}
input#create-question-image{
    display: none;
}
button.input-style-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
div.input-textarea-container{
    padding: 14px 16px;
    border-radius: 0 0 12px 12px;
    background-color: #f9fafb;
}
div.input-textarea{
    color: #333d4b;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    outline: none;
    height: 252px;
    overflow-y: auto;
    position: relative;
}

div.input-textarea-container .input-textarea p{
    min-height: 22.5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
}

div.input-textarea-container .input-textarea p.is-editor-empty:first-of-type::before {
    background-color: #f9fafb;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-size: 15px;
    font-weight: 400;
    color: #b0b8c1;
    line-height: 150%;
}
div.ProseMirror{
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
}
/* 나중에 게시글 작성 부분 */